/**********************************
GENERAL
***********************************/

body {
  font-family: 'Josefin Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  border-radius: 6px 6px 0 0;
}

h3 {
  margin: 0 0 1em 0;
  color: #3A3B3C;
}




/**********************************
HEADING
***********************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: left;
  margin: 0;
}

#logo-image {
  height: auto;
  display: block;
  max-width: 5em;
  margin: 8px 40px;
  float:left;
  border-radius: auto;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  margin: 15px 0;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 600;
  line-height: 0.8em;
}

h2 {
  font-size: 1.5em;
  margin: -5px 0 0;
  font-weight: 400;
}



/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 600;
  padding: 15px 10px;
}



/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

footer a:hover {
  color: #56EEC9;
  opacity: .5;
}




/**********************************
PAGE: PORTFOLIO
***********************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  border-radius: 6px;
  background-color: #f5f5f5;
  color: #bdc3c7;
  align-self: auto;
}


#gallery li a p, h4, h5, h6 {
  margin: 0;
  padding: 5%;
  color: #bdc3c7
}

p.Portfolio {
  font-size: .5em;
}


/**********************************
PAGE: Visual Designs
***********************************/
#pictures {
  margin: 0;
  padding: 2em;
  list-style: none;
}

#pictures li {
  float: left;
  width: 45%;
  margin: 2.5%;
  border-radius: 3px;
  background-color: #fff;
  color: #bdc3c7;
  align-self: auto;
}
/**********************************
PAGE: ABOUT
***********************************/

#profile-photo {
  display: auto;
  max-width: 100%;
  margin: auto;
  border-radius: 6px;
}

p.about {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: .03em;
}


/**********************************
PAGE: CONTACT
***********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}



/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #999;
}

/* red header */
header {
  background: #fff;
  border-color: #fff;
}

/* nav background on mobile */
nav {
  background: #fff;
}

/* logo text */
h1, h2 {
  color: #000;
}

/* heading text */
h3, h4, h5 {
  color: #3A3B3C;
}
/* links */
a {
  color: #1B3A8C;
}

/* nav link */
nav a, nav a:visited {
  color: #3A3B3C;
}

/* selected nav link */
nav a.selected {
  color: #56EEC9;
}

nav a:hover {
  color: #3A3B3C;
  opacity: .5;
}



/**********************************
MEDIA QUERIES
***********************************/

@media screen and (min-width: 480px) {

  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/

  #primary {
    width: 40%;
    float: left;
  }

  #secondary {
    width: 50%;
    float: right;
  }



  /**********************************
  PAGE: PORTFOLIO
  ***********************************/

  #gallery li {
    width: 28.3333%;
  }

  #gallery li:nth-child(4n) {
    clear: left;
  }

  /**********************************
  PAGE: ABOUT
  ***********************************/

  .profile-photo {
    float: center;
    margin: 0 5% 80px 0;
  }

}

@media screen and (min-width: 660px) {

  /**********************************
  HEADER
  ***********************************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.05em;
  }

  h5 {
    font-size: .75em;
    text-transform: uppercase;
  }


  header {
    border-bottom: 1px solid #3A3B3C;
    margin-bottom: 60px;
  }


}
